.tab-list-item {
	display: inline-block;
	padding: 0.5rem 1rem;
	margin-bottom: -1px;

	border: 1px solid transparent;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;

	cursor: pointer;

	&:hover {
		background-color: #eee;
	}

	&.active {
		cursor: inherit;
		background-color: white;
		border-color: #ddd #ddd transparent #ddd;
	}
}
